<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<link rel="shortcut icon" href="/media/initio/assets/images/gt_favicon.png">
    {% block title %}
    {% endblock title %}
	<!-- Bootstrap -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
	<!-- Custom styles -->
	<link rel="stylesheet" href="/media/initio/assets/css/styles.css">

	<!--[if lt IE 9]> <script src="/media/initio/assets/js/html5shiv.js"></script> <![endif]-->
</head>

<body>
    <div class="home">
        <header id="header">
            <div id="head" class="parallax" parallax-speed="2">
                <h1 id="logo" class="text-center">
                    <img class="img-circle" src="/media/initio/assets/images/round_pic5.png" alt="">
                    <span class="title">Sk. Farhad</span>
                    <span class="tagline">Software Engineer | Researcher <br>
                        <a href="" style="color: whitesmoke">sk.farhad.eee@gmail.com</a></span>
                </h1>
            </div>

            <nav class="navbar navbar-default navbar-sticky">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"
                                data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="navbar-collapse collapse">

                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{{ context.home }}">Home</a></li>
                            <li><a href="{{ context.about }}">About</a></li>
                            <li><a href="{{ context.blog }}">Blog</a></li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle"
                                   data-toggle="dropdown">More Pages <b class="caret">

                                </b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ context.sidebar_left }}">Left Sidebar</a></li>
                                    <li><a href="{{ context.sidebar_right }}">Right Sidebar</a></li>
                                    <li><a href="{{ context.single }}">Blog Post</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </header>
    </div>

    {% block content %}
    {% endblock content %}

    <footer id="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-3 widget">
                    <h3 class="widget-title">Follow me</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href="https://www.facebook.com/skfarhad97">
                                <i class="fa fa-facebook fa-2"></i></a>
                            <a href="https://www.linkedin.com/in/sk-farhad-66115257/">
                                <i class="fa fa-linkedin fa-2"></i></a>
                            <a href="https://github.com/skfarhad">
                                <i class="fa fa-github fa-2"></i></a>
                            <a href="https://twitter.com/skfarhad97">
                                <i class="fa fa-twitter fa-2"></i></a>
                        </p>
                    </div>
                </div>

                <div class="col-md-3 widget">
                    <h3 class="widget-title">Office</h3>
                    <div class="widget-body">
                        <p>+8809606500801<br>
                            <a href="mailto:#">farhad.ahmed@dingi.live</a><br>
                            <br>
                            Wakil Tower (4th Floor), Link Road, Gulshan, Dhaka
                        </p>
                    </div>
                </div>

                <!--div class="col-md-3 widget">
                    <h3 class="widget-title">Text widget</h3>
                    <div class="widget-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
                    </div>
                </div -->

                <div class="col-md-3 widget">
                    <h3 class="widget-title">Residence</h3>
                    <div class="widget-body">
                        <p>+8801787164706<br>
                            <a href="mailto:#">sk.farhad.eee@gmail.com</a><br>
                            <br>
                            Sarnolata House, Middle Badda, Dhaka-1219
                        </p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </footer>

    <footer id="underfooter">
        <div class="container">
            <div class="row">

                <div class="col-md-6 widget">

                </div>

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright &copy; 2019, Sk. Farhad<br>
                            Design Courtesy:
                            <a href="http://www.gettemplate.com"
                               rel="designer">Initio by GetTemplate</a> </p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </footer>

    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/media/initio/assets/js/template.js"></script>

</body>
</html>
