{% extends 'website/base.html' %}

{% block title %}
    <title>Projects</title>
{% endblock title %}

{% block content %}
    <main id="main">
        <div class="container">
            <div id="recent-works" class="row section featured topspace">
                <h2 class="section-title"><span>Projects</span></h2>
                <div class="row">
                    {% for work in context.projects %}

                    <div class="col-sm-6 col-md-4">
                        <div class="project-card">
                            <span class="project-thumb"><img src="{{ work.image_url }}" alt="{{ work.title }}"></span>
                            <h3>{{ work.title }}</h3>
                            <p>{{ work.description }}</p>
                            <p>
                                <a href="{{ work.url }}" class="read-more">See details &rarr;</a>
                            </p>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div> <!-- /section -->
        </div>	<!-- /container -->
    </main>
{% endblock content %}
