{% extends 'website/base.html' %}

{% block title %}
    <title>Home</title>
{% endblock title %}

{% block content %}
    <main id="main">
        <div class="container">
            <div class="row topspace">
                <!-- Sidebar -->
                <aside class="col-md-4 sidebar sidebar-left">
                    <div class="row widget">
                        <div class="col-xs-12">
                            {{ context.service_details.side_para_top|safe }}
                        </div>
                    </div>
                    <div class="row widget">
                        <div class="col-xs-12">
                            {{ context.service_details.side_para_middle|safe }}
                        </div>
                    </div>
                    <div class="row widget">
                        <div class="col-xs-12">
                            {{ context.service_details.side_para_bottom|safe }}
                        </div>
                    </div>
                </aside>
                <!-- /Sidebar -->
                <!-- Article main content -->
                <article class="col-sm-8 maincontent">
                    <header class="page-header">
                        <h1 class="page-title">
                            {{ context.service_details.title }}
                        </h1>
                    </header>
                    <div>{{ context.service_details.body_text|safe }}</div>
                </article>
                <!-- /Article -->
            </div>
        </div>	<!-- /container -->
    </main>
{% endblock content %}
