{% extends 'website/base.html' %}

{% block title %}
    <title>Home</title>
{% endblock title %}

{% block content %}
    <main id="main">
        <div class="container">
            <div class="row topspace">
                <!-- Article main content -->
                <article class="col-sm-8 maincontent">
                    <header class="page-header">
                        <h1 class="page-title">{{ context.work_details.title }}</h1>
                    </header>
                    <p>{{ context.work_details.description }}</p>
                    <span>{{ context.work_details.body_text|safe }}</span>
                </article>
                <!-- /Article -->

                <!-- Sidebar -->
                <aside class="col-md-4 sidebar sidebar-left">
                    <div class="widget">
                        <span>{{ context.work_details.side_para_top|safe }}</span>
                    </div>
                    <div class="widget">
                        <span>{{ context.work_details.side_para_middle|safe }}</span>
                    </div>
                </aside>
                <!-- /Sidebar -->
            </div>
        </div>	<!-- /container -->
    </main>
{% endblock content %}
